
.selected {
    background-color: rgba(0, 255, 51, 0.375);
}

.pagination-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}